

@{
    string bannerImgUrl = "~/Content/image/products/categories/boys/Banner_boys.jpg";
    //var pageName = 
}

<section class="banner">
    <div class="banner-container container-fluid"></div>
</section>