@*@model GucciPriceIntelligence.Models.Classes.BaseModelClass*@

@{
    string bannerImgUrl = "~/Content/image/products/categories/boys/Banner_boys.jpg";
    //string pageName = Model.PageName;

}

<section class="banner">
    <div class="banner-container container-fluid"></div>
</section>