@{
    ViewBag.Title = "Home Page";
}

<div class="blank-space"></div>

<section class="container body-content">
    <div class="row">
        
    </div>
    <div class="row category-gallery">
        <div class="col-md-12">
            <h1 class="text-center">Categories</h1>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Category", "Shop", new {cat_1 = "Boys"})">
                <img src="/Content/image/Boy_Homepage_Cover.jpg" alt=""/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Category", "Shop", new {cat_1 = "Men"})">
                <img src="/Content/image/Men_HomePage_Cover.jpg" alt="" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Category", "Shop", new {cat_1 = "Women"})">
                <img src="/Content/image/Women_Homepage_Cover.jpg" alt="" />
            </a>
        </div>
    </div>
</section>