@{
    ViewBag.Title = "Home Page";
}

<section class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/image/HomepageHeroHeaderMedium_GQ_001_Default.jpg" alt="" />
        </div>
    </div>
</section>

<section class="container body-content">
    <div class="row">
        
    </div>
</section>