@model GucciPriceIntelligence.Models.CategoryViewModels
@{
    ViewBag.Title = Model.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blank-space"></div>

<div class="container">
    <div class="row">
        <div class="row image-gallery-container">
            <div class="col-md-12">
                <h1>@Model.CategoryName</h1>
            </div>
            @foreach (var category in Model.SubCategories)
            {
                <div class="col-md-4 image-gallery-item">
                    <a href="@Url.Action("ListProducts", "Shop", new {category = Model.CategoryName, subcategory = category.Name})">
                        @{
                            string imageUrl = category.ImageUrl.Replace('\\', '/');
                        }
                        <img src="/Content/image/@imageUrl" alt = "" />
                    </a>
                    <div class="image-gallery-item-text-content">
                        <h3 class="text-center"><a href="@Url.Action("ListProducts", "Shop", new {category = Model.CategoryName, subcategory = category.Name})">@category.Name.Replace('-',' ')</a></h3>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="blank-space"></div>
